@using ECommerce.Application.ViewModels.Product;

@model SaveProductViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Productos";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-6 offset-3">

            <div class="card">

                <div class="card-header bg-dark text-light">
                    @if (editMode == true)
                    {
                        <h4>Editando el producto "@Model.Name"</h4>
                    }
                    else
                    {
                        <h4>Agregando un nuevo producto</h4>
                    }
                </div>

                <div class="card-body">

                    @if (Model.Categories == null || Model.Categories.Count == 0)
                    {
                        <h4>Debes tener una categoria creada para agregar productos</h4>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-warning">Ir atras</a>

                    }
                    else
                    {

                        <form method="post" asp-controller="Product" asp-action="@(editMode ? "Edit" : "Create")">

                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Nombre:</label>
                                <input asp-for="Name" class="form-control" placeholder="Escriba el nombre del producto" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Descripcion:</label>
                                <textarea asp-for="Description" class="form-control" placeholder="Escriba la descripcion del producto"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                           
                            <div class="mb-3">
                                <label asp-for="ImagePath" class="form-label">Url de la Imagen:</label>
                                <input asp-for="ImagePath" class="form-control" placeholder="Pegue el url de la imagen" />
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <label asp-for="Quantity" class="form-label">Cantidad:</label>
                                <input asp-for="Quantity" class="form-control" type="number" min="1" step="any" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>


                            <div class="mb-3">
                                <label asp-for="Price" class="form-label">Precio:</label>
                                <input asp-for="Price" class="form-control" type="number" min="1" step="any" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="CategoryId" class="form-label">Categoria:</label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-select">
                                    <option value="0" selected>Seleccione una Categoria</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>




                            <input type="hidden" asp-for="Id" />
                            <a asp-controller="Product" asp-action="Index" class="btn btn-warning">Regresar</a>

                            <button type="submit" class="btn btn-primary">Agregar</button>

                        </form>

                    }



                </div>

            </div>

        </div>

    </div>

</div>